<div class="row">
  <div class="col-4 mx-auto">
    <center><h1>Welcome</h1></center>
    <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary btn-lg btn-block' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
  </div>
</div>
