<div class="row">
  <div class="col-md-8  mx-auto">
    <%= bootstrap_form_for([@post, @comment]) do |f| %>
      <%= f.text_area :content, label: 'Say something...' %>
      <%= f.primary "Post comment" %>
    <% end %>
  </div>
</div>
