<div class="row">
  <div class="col-6 mx-auto">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title"><%= @user.username %></h3>
              <p class="card-text">Bio goes here. Lorem ipsum yadda yadda yadda. </p>
              <% if current_user == @user %>
                <%= link_to 'New post', new_post_path, class: 'btn btn-primary btn-sm' %>
                <%= link_to 'Edit profile', edit_user_registration_path(@user), class: 'btn btn-primary btn-sm'%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-6 mx-auto">
    <%= render @posts %>
  </div>
</div>
