<div class="row mb-4">
  <div class="col-8 mx-auto">
    <% cache(@posts) do %>
      <% @posts.each do |post| %>
        <%= render 'posts/dashboard_post', post: post %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row mb-4">
  <div class="col-8 mx-auto">
    <div class="d-flex">
      <div class="mx-auto">
        <%= will_paginate @posts, 
          :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
        </div>
      </div>
    </div>
  </div>
</div>
