<div class="row mb-4">
  <div class="col-8 mx-auto">
    <%= render @posts %>
    <div class="row mb-4">
      <div class="col-8 mx-auto">
        <div class="d-flex">
          <div class="mx-auto">
            <%= will_paginate @posts, 
              :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
