<div class="row mb-4">
  <div class="col-6 mx-auto">
    <%= render @post %>
  </div>
</div>

<div class="row mb-4">
  <div class="col-6 mx-auto">
    <ul class="list-group">
      <% @post.notes.each do |note| %>
        <%= render note %>
      <% end %>
    </ul>
  </div>
</div>
